* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(68, 125, 199);
}

h1 {
    text-align: center;
    color: #fff;
    margin: 30px;
}

p {
    margin-top: 10px;
    text-transform: uppercase;
}

#contador-resultado {
    font-weight: bold;
}

.form-container {
    background-color: #fff;
    width: 450px;
    height: 20%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.input-box {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

input {
    padding: 5px;
}

input[type="submit"] {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}