@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", sans-serif;
}

body {
    background-color: #000;
}

canvas {
    background-color: #848484;
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    margin-top: 25vh;
    display: block;
    border-radius: 5px;
}