@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(
    to top,
    #ff914d 0%,
    #ffb56b 30%,
    #ffd29f 50%,
    #87ceeb 80%,
    #4a90e2 100%
  );
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.player {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50px;
  bottom: 30px;
}

.object {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 30px;
}

.scoreText {
  padding: 10px;
  font-weight: bold;
  color: #fff;
}

.mensagem {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  z-index: 10;
  text-align: center;
}

.mensagem h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.mensagem p {
  font-size: 26px;
  opacity: 0.8;
}

.mensagem a {
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
  border: transparent;
  border-radius: 5px;
  text-decoration: none;
}
