* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    to top,
    #ff914d 0%,
    #ffb56b 30%,
    #ffd29f 50%,
    #87ceeb 80%,
    #4a90e2 100%
  );
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.player {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50px;
  bottom: 30px;
}

.object {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 30px
}

.scoreText {
  padding: 10px;
  font-weight: bold;
  color: #fff;
}
