* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.somador {
    width: 400px;
    height: 20%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #938581;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.233);
}

h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 30px;
}

p {
    font-weight: bold;
}

span {
    color: #772014;
}

input {
    width: 200px;
    display: block;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 25px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #19180A;
    border: none;
    color: #fff;
    transition: 0.5s;
}

button:hover {
    background-color: #3F220F;
}